.main{
    background-color: yellow;
    height: 100vh;
    width: 50%;
}
.heading{
    padding-bottom: 1px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    background-color: #0E819A;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    align-items: center;
}
.heading p {
    margin-top: 13px;
}
.logo{
    width: 50px;
    object-fit: contain;
}
.matches_news{
    background-color: #0E819A;
    height: 60px;

}
.matches_news P {
    padding-top:9px ;
    text-align: center;
    color: white;
    font-size: 14px;
}
.para:hover{
    background-color: rgba(255, 255, 255, 0.184);
}
.seet {
    height: 250px;
    background-color: black;
    border: 0.1px solid rgba(255, 255, 255, 0.212);
}